{% extends "base.html.twig" %}

{% block title %}Task{% endblock %}
{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="container-jumbotron task-admin-index">
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                <a style="color: #1d2124;float: right;font-size: 1.1em" href="{{ path('new.multi.task') }}"
                   class="nav-item nav-link"><b><i class="bi bi-file-earmark-plus-fill"></i> NUEVA TAREA</b></a>
            {% endif %}
               <h1>Tareas
                    </h1>
            <p id="info-admin-task"></p>
            <div id="admin-task" class="table-responsive table-bordered">Loading...</div>
            <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
            <script>
                $(function () {
                    $('#admin-task').initDataTables({{ datatable_settings(datatable) }}
                        , {
                            searching: true,
                            dom: '<"html5buttons"B>lTfgitp',
                            buttons: [
                                'copy',
                                {extend: 'pdf', title: 'domains'},
                                {extend: 'print'}
                            ],
                            // columnDefs: [ {
                            //     targets: 3,
                            //     type: "date",
                            //     data: "startDate",
                            //     render: function (data, type, row) {
                            //
                            //     }
                            // }],
                        }).then(function (dt) {
                        // dt contains the initialized instance of DataTables

                        dt.on('draw',
                            function () {
                                $('#admin-task table tr').click(function (e) {
                                    e.preventDefault();
                                    var id_task = $(this).attr('id');
                                    $.ajax({
                                        type: 'POST',
                                        url: Routing.generate('ajax.admin.show.task'),
                                        data: {id: id_task},
                                        async: true,
                                        success: function (data, status, object) {
                                            location.href = '/admin/task/show/' + data;
                                        },
                                        error: function () {
                                        }
                                    });
                                });
                            })
                    })
                });
            </script>
        </div>
    {% endif %}
{% endblock %}