{% extends "base.html.twig" %}

{% block title %}Service{% endblock %}
{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
    <section id="new-service">
        <div class="container-jumbotron">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="{{ path("service") }}">
                    <button class="btn btn-warning">Volver</button>
                </a>
                <b style="float: right">Estado:
                    {% if service.active == 1 %}
                        <scan style="color: green;">Activo</scan>
                    {% else %}
                        <scan style="color:darkred;">No activo</scan>
                    {% endif %}
                </b>
                <table class="table table-striped table-responsive">
                    <thead>
                    <th>Servicio</th>
                    <th>Descripción</th>
                    </thead>
                    <tr>
                    </tr>
                    <tbody>
                    <td>{{ service.name }}</td>
                    <td>{{ service.description }}</td>
                    </tbody>
                </table>
            {% endif %}
        </div>
    </section>
{% endblock %}
